.scrolling-section {
  padding: 50px 0 80px;

  text-align: center;
  .list {
    font-size: 9rem;
    text-transform: uppercase;
    display: flex;
    width: 100%;
    gap: 55px;
    flex-direction: column;
    font-family: $font-2;
  }
  @media screen and (max-width: 950px) {
    .list {
      gap: 45px;
    }
  }
  @media screen and (max-width: 750px) {
    .list {
      gap: 60px;
    }
  }
  @media screen and (max-width: 650px) {
    .list {
      font-size: 3.5rem;
    }
  }
  @media screen and (max-width: 500px) {
    .list {
      gap: 90px;
    }
  }
}
