$font-1: "urbanist", sans-serif;
$font-2: "Righteous", sans-serif;

$color-1: #1d515e; /* background color blue */
$color-2: #e6e6e6; /* White slightly gray */
$color-3: #ffffff80; /* White 50% */
$color-4: #ffd2a8; /* some titles and buttons */
$color-5: #135f59; /* background color green */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  user-select: none;
}
body {
  color: $color-2;
  overflow-x: hidden;
  font-family: $font-1;
}
h2 {
  font-size: 4rem;
}
h1 {
  font-weight: 800;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: $color-4;
  font-size: 1.5rem;
}

a {
  color: $color-2;
  transition: 0.3s;
}

/* SMOOTH SCROLL  */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

@keyframes skeleton-loading {
  0% {
    background-color: rgb(245, 245, 245);
  }
  100% {
    background-color: rgb(192, 192, 192);
  }
}

.skeleton {
  animation: skeleton-loading 2s linear infinite alternate;
}
.scroll-top-button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  z-index: 1000;
  font-size: 2rem;
  color: $color-2;
  border-radius: 500px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  transition: 0.3s;
}
@media (hover: hover) {
  a:hover {
    opacity: 70%;
  }
  .logo-svg:hover .logo-top-line {
    transform: translateY(5px);
    opacity: 0.5;
  }
  .logo-svg:hover .logo-bottom-line {
    transform: translateY(-5px);
    opacity: 0.5;
  }
  .close-modal-icon {
    cursor: pointer;
    opacity: 70%;
  }
  .container-images {
    .img-container :hover {
      cursor: pointer;
    }
  }
  .scroll-top-button:hover {
    color: $color-3;
  }
  .grid-images div:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
}
