@keyframes shadowbg {
  0% {
    -webkit-box-shadow: inset 20px 0px 200px 70px rgba(0, 0, 0, 0.8);
    box-shadow: inset 20px 0px 200px 70px rgba(0, 0, 0, 0.8);
  }
  25% {
    -webkit-box-shadow: inset 10px 20px 200px 60px rgba(0, 0, 0, 0.8);
    box-shadow: inset 10px 20px 200px 60px rgba(0, 0, 0, 0.8);
  }
  50% {
    -webkit-box-shadow: inset -20px 30px 200px 80px rgba(0, 0, 0, 0.8);
    box-shadow: inset -20px 30px 200px 80px rgba(0, 0, 0, 0.8);
  }
  75% {
    -webkit-box-shadow: inset -20px -10px 200px 50px rgba(0, 0, 0, 0.8);
    box-shadow: inset -20px -10px 200px 50px rgba(0, 0, 0, 0.8);
  }
  100% {
    -webkit-box-shadow: inset 35px -30px 200px 70px rgba(0, 0, 0, 0.8);
    box-shadow: inset 35px -30px 200px 70px rgba(0, 0, 0, 0.8);
  }
}
@keyframes bgColor {
  0% {
    background: rgb(29, 56, 57);
  }
  25% {
    background: rgb(46, 89, 90);
  }
  50% {
    background: rgb(23, 44, 45);
  }
  75% {
    background: rgb(55, 106, 107);
  }
  100% {
  }
}
@font-face {
  font-family: "JosefinSans-SemiBold";
  src: url(../assets/fonts/JosefinSans-SemiBold.ttf);
}
@font-face {
  font-family: "Urbanist-VariableFont_wght";
  src: url(../assets/fonts/Urbanist-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Anton-Regular";
  src: url(../assets/fonts/Anton-Regular.ttf);
}
@font-face {
  font-family: "Righteous-Regular";
  src: url(../assets/fonts/Righteous-Regular.ttf);
}
$font-1: "JosefinSans-SemiBold";
$font-2: "Urbanist-VariableFont_wght";
$font-3: "Anton-Regular";
$font-4: "Righteous-Regular";

$color-1: #dbdbdb;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

  user-select: none;
}
html {
  height: 100%yo;
}
body {
  overflow-x: hidden;
  background: #26494a;

  /*   animation: bgColor 60s infinite alternate; */
}
h1,
h3 {
  font-family: $font-2;
  font-weight: 500;
  letter-spacing: 5px;
}
h2 {
  color: rgb(169, 87, 87);
  font-family: $font-4;
  font-size: 4rem;
  text-transform: uppercase;
}
h4,
h5,
p {
  font-family: $font-3;
}
.line-container {
  position: absolute;
  width: 100%;
  left: 0%;
  bottom: 0%;
  svg {
    min-width: 100vw;
    min-height: 120px;
  }
  @media screen and (max-width: 700px) {
    svg {
      transform: translateX(-20%);
    }
  }
  @media screen and (max-width: 500px) {
    svg {
      transform: translateX(-28%);
    }
  }
  @media screen and (max-width: 350px) {
    svg {
      transform: translateX(-32%);
    }
  }
}
.montain-line-container {
  position: absolute;
  width: 100%;
  left: 0%;
  bottom: 0%;
  svg {
    min-width: 100vw;
    min-height: 170px;
  }
  @media screen and (max-width: 900px) {
    svg {
      transform: translateX(-13%);
    }
  }
}
.shadow {
  position: fixed;

  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #315757;
  /*   animation: shadowbg 10s infinite alternate; */
  -webkit-box-shadow: inset 0px 0px 200px 70px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0px 0px 200px 70px rgba(0, 0, 0, 0.8);
}
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
