@keyframes animate {
  0% {
    border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
  }
  50% {
    border-radius: 60% 60% 70% 40%/ 50% 60% 60% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
  }
}
@keyframes slides {
  from {
    transform: translateX(600px);
  }
}
.about-page {
  background: radial-gradient(#a72f2f, #091813);
  .skills {
    background: #a4a4a496;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    bottom: 0%;
    right: 0%;
    margin: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: min-content;
    animation: slides 0.5s ease-in-out;
    & > div {
      display: flex;
      flex-direction: column;
      gap: 7px;
    }
    h4 {
      font-family: $font-1;
      color: white;
    }
  }
  .about-main {
    position: relative;
    width: 100%;
    height: 100vh;
    height: 100svh;
    padding: 40px;
    margin-bottom: 50px;
    .blob {
      z-index: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url("/assets/images/victor-hydra-2-removebg-preview.png"),
        linear-gradient(
          0deg,
          rgba(3, 4, 6, 1) 0%,
          rgba(24, 35, 54, 1) 14%,
          rgba(134, 237, 237, 1) 100%
        );
      background-size: cover;
      background-color: rgb(3, 4, 6);
      background-position: 20% center;
      height: 400px;
      width: 400px;
      box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.1);
      animation: animate 15s ease-in-out infinite;
      transition: animate 1s ease-in-out;
      transition: 0.6s ease-in-out;
    }

    .description-titles {
      display: flex;
      flex-direction: column;
      height: 100%;
      max-width: 25%;
      justify-content: space-between;
      gap: 80px;

      .aboutDescription {
        z-index: 50;
        font-size: 1.3rem;
        font-family: $font-2;
        line-height: 25px;
        background: #a4a4a496;
        -webkit-backdrop-filter: blur(1px);
        backdrop-filter: blur(1px);
        color: #ffffff;
        border-radius: 20px;
        padding: 20px;
      }
      .titles {
        font-size: 2.5rem;
        color: white;
      }
    }
  }
  @media screen and (max-width: 1210px) {
    .about-main {
      padding: 20px;
      .description-titles {
        max-width: 40%;
        .titles {
          font-size: 1.8rem;
        }
      }
    }
    .skills {
      margin: 20px;
    }
  }
  @media screen and (max-width: 800px) {
    .about-main {
      .description-titles {
        max-width: 65%;
        .titles {
          font-size: 0.8rem;
        }
      }
    }
    .skills > div {
      gap: 3px;
      .progressBar {
        .barElement {
          width: 40px;
        }
      }
    }
  }
  @media screen and (max-width: 550px) {
    .about-main {
      .description-titles {
        max-width: 100%;
        gap: 0;
        .aboutDescription {
          font-size: 1rem;
          margin: auto 0;
        }
      }

      .blob {
        height: 200px;
        width: 200px;
        transform: translate(-50%, 50%);
      }
    }
    .skills {
      position: relative;
      margin: 50px auto;
    }
  }
}
