/* @keyframes cloudMoving {
  from {
    transform: translateY(-10%);
  }
  to {
    transform: translateY(10%);
  }
}
@keyframes cloudMovingTwo {
  from {
    transform: translateY(5%);
  }
  to {
    transform: translateY(-7%);
  }
}
@keyframes cloudMovingThree {
  from {
    transform: translateY(-2%);
  }
  to {
    transform: translateY(4%);
  }
} */

.art-page {
  background: #136a8a;
  background: -webkit-linear-gradient(to right, #267871, #136a8a);
  background: linear-gradient(to right, #267871, #136a8a);
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 40px;
  position: relative;
  .cloud {
    pointer-events: none;
    position: fixed;
    z-index: 50;
  }
  .cloud-one {
    height: 600px;
    left: 0%;
    top: 0%;
    opacity: 0.7;
    /*     -webkit-animation: cloudMoving 10s ease-out -2s infinite alternate forwards;
    animation: cloudMoving 10s ease-out -2s infinite alternate forwards; */
  }
  .cloud-two {
    height: 800px;
    right: 0%;
    top: 50%;
    /*    -webkit-animation: cloudMovingTwo 10s ease-out -2s infinite alternate forwards;
    animation: cloudMovingTwo 10s ease-out -2s infinite alternate forwards; */
  }
  .cloud-three {
    height: 400px;

    top: -20%;

    /*     -webkit-animation: cloudMovingThree 10s ease-out -2s infinite alternate forwards;
    animation: cloudMovingThree 10s ease-out -2s infinite alternate forwards; */
  }

  .carousel-gallery-modal {
    position: fixed;
    background: #ffffff;
    backdrop-filter: blur(2px);
    height: 100vh;
    height: 100svh;
    width: 100%;
    display: flex;
    top: 0;
    align-items: center;
    z-index: 3000;
    .close-modal-icon {
      z-index: 3100;
      position: absolute;
      top: 40px;
      left: 40px;
      font-size: 2.5rem;
      transition: 0.3s;

      &:hover {
        cursor: pointer;
        opacity: 0.6;
      }
    }
    .carousel {
      user-select: none;
      max-height: 90vh;
      aspect-ratio: 3/4;
      img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 3/4;
      }
      .swiper-pagination-bullet,
      .swiper-pagination-bullet-active {
        background: #fdc178;
      }
      .swiper-button-next,
      .swiper-button-prev {
        color: #fdc178;
      }
    }
  }
  .container-images {
    display: flex;
    margin: 0 auto;
    max-width: 55%;
    .subcontainer-images {
      display: flex;
      flex-direction: column;
      width: calc(100% / 3);
    }
    .main-img {
      width: calc(100% / 3) * 2;
    }
    .img-container {
      aspect-ratio: 3/4;
      padding: 5px;
      border-radius: 5px;
      display: flex;
      transition: 0.3s;
      &:hover {
        cursor: pointer;
      }
      img {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 5px;
        aspect-ratio: 3/4;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  @media screen and (max-width: 900px) {
    .cloud-one {
      height: 400px;
    }
    .cloud-two {
      height: 400px;
    }
    .container-images {
      max-width: 90%;
    }
  }

  @media screen and (max-width: 500px) {
    .cloud-one,
    .cloud-two {
      height: 280px;
      opacity: 0.85;
    }
    .cloud-three {
      height: 200px;
      top: 80%;
      opacity: 0.7;
    }
    .container-images {
      max-width: 100%;
      padding: 0 5px;
    }
  }
}
