.modal-open {
  overflow: hidden;
}
.art-page {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  background: -webkit-linear-gradient(to right, $color-5, $color-1);
  background: linear-gradient(to right, $color-5, $color-1);

  .hero-art-page {
    width: 55%;
    margin: 50px auto 0;
    text-align: center;
    padding-top: 30px;
    h1 {
      color: $color-4;
      margin-bottom: 10px;
    }
    p {
      letter-spacing: 0.07rem;
      font-size: 1.1rem;
    }
  }
  .grid-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin: 0 auto;
    width: 55%;
    div {
      aspect-ratio: 3/4;
      min-height: 100%;
      transition: 0.3s;
    }
    .grid-main {
      grid-area: main;
      width: 100%;
    }
    img {
      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 5px;
      height: 100%;
      object-fit: cover;
      object-fit: center;
    }
  }
  .grid {
    grid-template-areas:
      ". main main"
      ". main main";
  }
  .grid-reverse {
    grid-template-areas:
      "main main ."
      "main main .";
  }
  .carousel-gallery-modal {
    position: fixed;
    background-color: white;
    height: 100vh;
    height: 100lvh;
    width: 100%;
    display: flex;
    top: 0;
    align-items: center;
    z-index: 3000;
    .close-modal-icon {
      z-index: 3100;
      position: absolute;
      top: 40px;
      left: 40px;
      font-size: 2.5rem;
      transition: 0.3s;
    }
    .carousel {
      user-select: none;
      max-height: 90vh;
      aspect-ratio: 3/4;
      img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 3/4;
      }
      .swiper-pagination-bullet,
      .swiper-pagination-bullet-active {
        background: #fdc178;
      }
      .swiper-button-next,
      .swiper-button-prev {
        color: #fdc178;
      }
    }
  }

  @media screen and (max-width: 900px) {
    gap: 15px;
    .hero-art-page {
      width: 90%;
    }
    .grid-images {
      width: 90%;
      gap: 15px;
    }
  }

  @media screen and (max-width: 500px) {
    gap: 30px;
    .hero-art-page {
      padding: 10px 10px 0;
      width: 100%;
      p {
        font-size: 1rem;
      }
    }
    .grid-images {
      gap: 10px;
      width: 100%;
      padding: 0 10px;
    }
  }
}
