.art-page {
  display: flex;
  flex-direction: column;
  gap: 30px;
  .carousel-gallery-modal {
    position: fixed;
    background: #ffffff34;
    backdrop-filter: blur(2px);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 3000;
    .close-modal-icon {
      position: absolute;
      top: 40px;
      left: 40px;
      font-size: 2.5rem;
      transition: 0.3s;

      &:hover {
        cursor: pointer;
        opacity: 0.6;
      }
    }
    .carousel {
      user-select: none;
      max-height: 90vh;
      aspect-ratio: 3/4;
      img {
        width: 100%;
        aspect-ratio: 3/4;
        object-fit: cover;
      }
      .swiper-pagination-bullet,
      .swiper-pagination-bullet-active {
        background: #fdc178;
      }
      .swiper-button-next,
      .swiper-button-prev {
        color: #fdc178;
      }
    }
  }
  .container-images {
    display: flex;
    margin: 0 auto;
    max-width: 65%;
    .subcontainer-images {
      display: flex;
      flex-direction: column;
      width: calc(100% / 3);
    }
    .main-img {
      width: calc(100% / 3) * 2;
    }
    .img-container {
      aspect-ratio: 3/4;
      padding: 5px;
      border-radius: 5px;
      display: flex;
      transition: 0.3s;
      &:hover {
        /*         scale: 1.03; */
        cursor: pointer;
      }
      img {
        aspect-ratio: 3/4;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  .grid-main-right {
    margin: 0 auto;
    max-width: 70%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "a main"
      "c main";

    .main-grid {
      grid-area: main;
    }
    .img-container {
      width: 100%;
      aspect-ratio: 3/4;
      padding: 15px;
      border-radius: 5px;
      display: flex;
      img {
        aspect-ratio: 3/4;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
      }
    }
  }
  .grid-main-left {
    margin: 0 auto;
    max-width: 70%;
    display: grid;

    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "main a"
      "main c";

    /*     width: 70%; */
    .main-grid {
      grid-area: main;
    }
    .img-container {
      padding: 15px;
      aspect-ratio: 3/4;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
      }
    }
  }
}
